<a href="https://colab.research.google.com/github/pannhapat/udemy_datascience/blob/master/Udemy280.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Transpose of a matrix**
# `transposing vectores `

---


```
# 
    T
| 1|                  T
| 2|        = [ 1 2 3]
| 3|              T
  X              X

```
                  T
  T             T)
X.         =  X      = X






[ 2 - 2 0 5 ]

# `transposing vectores `


1.   The values are not changing or transforming;
only their position is
2.   Transposing the same vector (object) twice yields the initial vactor (object)
3. A 3x1 matrix transposed is a 1x3 matrix


# `TRANSPOSING MATRICES`
   T
[ ]      =    [   ]
m x n         n x m



                     T
A = [5  12  6]      A=  [ 5 -3 ] 
2x3    -3  0  14    3x2   12 0 
                           6 14

Import the relevant libraries

In [0]:
import numpy as np

Transposing matrices
mxn = n x m

`<variable>`.T (Transporting matrices)

In [0]:
A = np.array([[5,12,6],[-3,0,14]])
A

In [0]:
A.T

In [0]:
B = np.array([[5,3],[-2,4]])
B

In [0]:
B.T

In [0]:
C = np.array([[4,-5],[8,12],[-2,-3],[19,0]])
C

In [0]:
C.T

TRANSPOSING SCALARS

In [0]:
s=np.array([5])
s

In [0]:
s.T

Transposing Vectors

The values are not changing or transforming;
only their position is

Transposing the same vector (object) twice 
yields the initial vector (object)

A 3x1 matrix transposed is a 1x3 matrix

In [0]:
x = np.array([1,2,3])
x

In [0]:
x.T

In [0]:
x.shape

In [0]:
x_reshaped = x.reshape(1,3)
x_reshaped

In [0]:
x_reshaped.T

MULTIPLICATION
SCALAR MULTIPLICATION

> Indented block 
[ 6 ]. [5 ] = [ 30 ]

---

> Indented block
[10 ]. [ -2 ] = [-20 ] 


VECTOR MULTIIPLICATION

```
 [2 ] X [ 1 ]   
 8       -7
  -4     -3

```



### DOT PRODUCT         | |        TENSOR PRODUCT
outer product                   inner product


### DOT PRODUCT        
        inner product
scalar product (mulitplication . or X)


```

2 |       | 1
8 | .     | -7   = [-66]
-4|       | 3

vector   vector     scalar

the sum of the product of the corresponding element's

```

DOT PRODUCT

In [0]:
x = np.array([2,8,-4])
y = np.array([1,-7,3])
np.dot(x,y)

0x(20) + (2x3) + (5x4)+ 8x(-1)

In [0]:
u=np.array([0,2,5,8])
v=np.array([20,3,4,-1])
np.dot(u,v)

scalar * scalar

In [0]:
np.dot(5,6)

In [0]:
np.dot(10,-2)

Scalar * vector

get a vector with the same lenght!


The initial vector had been SCALED 5 times (thus the name)

In [0]:
x

In [0]:
5*x